img {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

h1{
    background-color: yellow;
    width: 472px;
    position: absolute;
    top:100px;
    left:10px;
    z-index: 2;
}
p.session{
    clear:left;
}